<?xml version="1.0"?>
<launch>

  <!--   starting the joy_node -->
   <node name="joy_node" pkg="joy" type="joy_node" output="log" respawn="false">
    <param name="dev" value="/dev/input/js0" />
   </node>
  <!-- connecting to Teensy -->
    <node name="hand_serial_com" pkg="rosserial_python" type="serial_node.py">
      <param name="port" value="/dev/ttyACM3"/>
      <param name="baud" value="115200"/>
    </node>

</launch>